<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Front page</title>
  </head>

  <body>
    {% load static %}
    <link
      rel="stylesheet"
      href="{% static 'polls/style.css' %}"
    />
    {% include "polls/header.html" %}

    <div class="create-form">
        <h2>Create a poll</h2>
        <form action="{% url 'polls:save-poll' %}" method="post">
        <!-- 2 CSRF attack. The above line should be replaced.
        <form action="{% url 'polls:save-poll' %}" method="post"> 
        -->
            {% csrf_token %}
            Question: <input type="text" name="question" />
            <p>Choice 1: <input type="text" name="choice1" /></p>
            <p>Choice 2: <input type="text" name="choice2" /></p>
            <p>Choice 3: <input type="text" name="choice3" /></p>
            <p>Choice 4: <input type="text" name="choice4" /></p>
            <input type="submit" value="Save poll" />
        </form>
    </div>

  </body>
</html>
