<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Voting page</title>
  </head>
  <body>
    {% load static %}
    <link
      rel="stylesheet"
      href="{% static 'polls/style.css' %}"
    />
    {% include "polls/header.html" %}
      <form
        action="{% url 'polls:vote' question.id %}"
        method="post"
      >
        {% csrf_token %}
        <fieldset>
          <legend><h1>{{ question.question_text }}</h1></legend>
          {% if error_message %}
          <p><strong>{{ error_message }}</strong></p>
          {% endif %} {% for choice in question.choice_set.all %}
          <input
            type="radio"
            name="choice"
            id="choice{{ forloop.counter }}"
            value="{{ choice.id }}"
          />
          <label for="choice{{ forloop.counter }}"
            >{{ choice.choice_text }}</label
          ><br />
          {% endfor %}
        </fieldset>
        {% if request.user.is_authenticated %}
          <input
            type="submit"
            value="Vote"
          />
        {% else %}
          <i>Only users can vote</i>
        {% endif %}
      </form>
    </ul>
  </body>
</html>
