<h1 class="header">
  <a
    class="header-link"
    href="{% url 'polls:index' %}"
    >
    Polls
  </a>
</h1>

<div class="top-bar">

  <div class="top-left">
    {% if request.user.is_authenticated %}
      <a class="button" href="{% url 'polls:create' %}">Create a poll</a>
    {% endif %}
  </div>

  <div class="top-center">
    {% if request.user.is_authenticated %}
      <span>Hello {{ request.user.username }}</span>
    {% endif %}
  </div>

  <div class="top-right">
    {% if request.user.is_authenticated %}
      <a class="button" href="{% url 'polls:logout' %}">Log out</a>
    {% else %}
      <a class="button" href="{% url 'polls:login' %}">Log in</a>
    {% endif %}
  </div>

</div>
