<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Front page</title>
  </head>

  <body>
    {% load static %}
    <link
      rel="stylesheet"
      href="{% static 'polls/style.css' %}"
    />
    {% include "polls/header.html" %}

    <div class="center">
      <!-- List of polls -->
      {% if latest_question_list %}
        <ul class="polls-list">
        {% for question in latest_question_list %}
          <li class="polls-list">
              <a href="{% url 'polls:detail' question.id %}"
              >{{ question.question_text }}</a
              >
          </li>
        {% endfor %}
        </ul>
          
        <!-- Pagination controls -->
        <div>
          <span>
            {% if page_obj.has_previous %}
              <a href="?page=1">&laquo; First</a>
              <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
            
            <span>
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
            
            {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">Next</a>
              <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
          </span>
        </div>
      </div>

    {% else %}
      <p>No polls are available.</p>
    {% endif %}
  </body>
</html>
